/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  
  
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-orange-1: hsl(12, 83%, 98%);
  --clr-orange-2: hsl(14, 91%, 95%);
  --clr-orange-3: hsl(12, 89%, 89%);
  --clr-orange-4: hsl(13, 87%, 82%);
  --clr-orange-5: hsl(13, 88%, 68%);
  --clr-orange-6: hsl(13, 88%, 55%);
  --clr-orange-7: hsl(13, 74%, 49%);
  --clr-orange-8: hsl(13, 74%, 33%);
  --clr-orange-9: hsl(13, 73%, 25%);
  --clr-orange-10: hsl(13, 73%, 16%);
}

.courses {
  /* margin: 4rem 0; */
  display: grid;
  gap: 20px;
  padding: 0 50px;


}
@media screen and (min-width: 576px) {
  .courses {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

 .paper {
	 min-width: 20vw;
	 max-width: 70vh;
	 min-height: 10vh;
 	 border-radius: 4px;
	 box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
	 transition: transform .2s;
	 background: white;
	 text-align: center;
}
 .paper:hover {
	 box-shadow: 0 18px 35px rgba(50, 50, 90, .1), 0 8px 15px rgba(0, 0, 0, .07);
	 transform: scale(1.05);
}
 img {
	 max-width: 100%;
	 max-height: 50%;

}
 .poster {
	 /* border-radius: 4px 4px 0 0; */
	 margin-bottom: 2vh;
}
.course h1 {
	 font-size: 17px;
   font-weight: bold;
	 color: #303336;
	 letter-spacing: 1px;
   text-align: left;
   padding-left: 20px;
}

 .course p {
	 margin: 8px 0;
	 text-align: left;
	 color: #a0a6ab;
	 font-weight: 400;
	 font-size: 15px;
   padding-left: 20px;
}


 .course button{
  margin-bottom: 1rem;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--clr-white);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 40.5%;
  margin-right: 40%;
 }
 .fa-heart{
   width: 30px;
   font-size: 50px;
 }

 hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: #FFD43B;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  margin: 20px 50px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #FFD43B;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.heading-courses{
  margin: 30px 70px;
  font-size: 25px;
  color: white;
  letter-spacing: 4px;
}
ul li{
  display: inline-block;
}
li h2{
  font-size: 25px;

}
span{
  font-size: 15px;
  /* padding: 5px; */
}