/*
=============== 
Variables
===============
*/



.courses{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 50px;
}
@media screen and (min-width: 576px) {
  .courses {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}

 .paper {
	 min-width: 20vw;
	 max-width: 70vh;
	 min-height: 10vh;
 	 border-radius: 4px;
	 box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
	 transition: transform .2s;
	 background: white;
	 text-align: center;
}
 .paper:hover {
	 box-shadow: 0 18px 35px rgba(50, 50, 90, .1), 0 8px 15px rgba(0, 0, 0, .07);
	 transform: scale(1.05);
}
 img {
	 max-width: 100%;
	 max-height: 50%;

}
 .poster {
	 /* border-radius: 4px 4px 0 0; */
	 margin-bottom: 2vh;
}
.course h1 {
	 font-size: 17px;
   font-weight: bold;
	 color: #303336;
	 letter-spacing: 1px;
   text-align: left;
   padding-left: 20px;
}

 .course p {
	 margin: 8px 0;
	 text-align: left;
	 color: #a0a6ab;
	 font-weight: 400;
	 font-size: 15px;
   padding-left: 20px;
}


 .course button{
  margin-bottom: 1rem;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--clr-white);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 40.5%;
  margin-right: 40%;
  background-color: #12172b;
  color: white;
 }

 /* #course{
  background-color: #42444E;
} */
/* .heading-courses{
  margin: 30px 70px;
  font-size: 25px;
  color: white;
  letter-spacing: 4px;
  
} */
ul li{
  display: inline-block;
}
li h2{
  font-size: 25px;

}
span{
  font-size: 15px;
  /* padding: 5px; */
}
/* @media screen and (min-width: 359px) {
  .heading-courses{
    font-size: 20px;
    text-align: left;
  }
  .course button{
    margin-left: 20%;
    margin-right: 50%;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px;
   }
   li h2{
    font-size: 20px;
    padding-right: 10px;
  
  }
  span{
    font-size: 10px;
  }
  .course h1 {
    font-size: 10px;
 }
 
  .course p {
    margin: 8px 0;
    text-align: left;
    color: #a0a6ab;
    font-weight: 400;
    font-size: 15px;
    padding: 0 20px;

 }
  */

/* @media screen and (max-width:598px) {
  .heading-courses{
    font-size: 20px;
    text-align: center;
  }
  li h2{
    font-size: 30px;
    padding-right: 90px;
  
  }
  .course h1 {
    font-size: 20px;
 }
 
  .course p {
    margin: 8px 0;
    text-align: left;
    color: #a0a6ab;

    font-size: 15px;
    padding-left: 20px;
 }
    
} */

/* @media screen and (min-width:393px) {
  .heading-courses{
    font-size: 20px;
    text-align: center;
  } */
  /* li h2{
    font-size: 30px;
    padding-right: 90px;
  
  }
  .course h1 {
    font-size: 20px;
 } */
 
  /* .course p {
    margin: 8px 0;
    text-align: left;
    color: #a0a6ab;

    font-size: 15px;
    padding-left: 20px;
 } */
 /* .course li:last-child{ */
  /* margin-left: 20%; */
  /* margin-right: 50%; */
  /* font-size: 12px;
  letter-spacing: 2px;
  padding-right: 50px; */
 /* } */
    
/* } */

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) {
  .heading-courses{
    font-size: 20px;
    text-align: center;
  }
  li button{
    margin-bottom: 5rem;
    font-size: 15px;
    
    

 

   }
 } 