*{
    margin: 0;
    padding: 0;

}
/* .container{
    background-color: #42444E;

} */

.hero h2{
    font-size: 30px;
    color: white;
}
h3{
    font-size: 30px;
}
.hero-image{
    background: url('../images/image2.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    max-width: 100%;
}
.hero-text{
    text-align: center;
    top: 40%;
    left: 40%;
    left: 25%;
    position: absolute;
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;

}
.hero{
    color: white;
    border: 2px solid white;
    padding: 20px;
}
button{
    width: 150px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    outline: none;
    background: tomato;
    border: 0;

}
button.btn{
    color: White;
    font-size: 20px;
    font-weight: bolder;

}
.heading-courses{
    /* background-color: #42444E; */
    padding: 20px 50px;
    color: black;
    font-size: 25px;
    letter-spacing: 3px;
}
/* .hr-1 .half-width{
    border: 0;
    height: 1px;
    size: 30px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
} */

/* .container{ */
    /* height: 100vh; */
    /* overflow: hidden; */
  /* } */

@media screen and (max-width:598px){
    .hero-text{
        text-align: center;
        top: 40%;
        left: 10%;
        width: 80%;
    }
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 15px ;
    }
    button{
        width: 100px;
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
        margin: 20px;
    
    }
}

@media screen and (max-width:359px){
    .hero-text{
        text-align: center;
        top: 40%;
        left: 10%;
        width: 80%;
     
    }
    .hero h2{
        font-size: 20px;
       
    }
}

